**/*.pyc
tests/HCP_Sample/*
*.tck
.vscode
*.log
subjects_all.txt
subjects_small.txt
subjects.txt
ist
output_subplots
*.pdf
*.nii.gz
build/
dist/
actiDep.egg-info/SOURCES.txt
*.sync-conflict*
*.png
*.mp4
*.json
*.csv
*.gif
METHODES_RESUME*
